:root {
	--color-accent-blue: #007aff;
	--color-accent-orange: #ff9f21;
	--color-accent-purple: #b90bff;
	--color-accent-cyan: #13ffd6;

	--color-background-primary: #0a0a0a;
	--color-background-secondary: #1f1f1f;

	--color-text-primary: #f5f5f7;
	--color-text-secondary: #86868b;
	--color-text-disabled: #52535a;

	--text-header: 24px;
	--text-subheader: 20px;
	--text-body: 17px;
	--text-caption: 15px;
}

* {
	box-sizing: border-box;
}
html {
	width: 100%;
	background-color: var(--color-background-primary);
}
body {
	max-width: 1440px;
	width: 100%;
	height: 100%;
	font-family: 'Pretendard';
	color: var(--color-text-primary);
	display: flex;
	flex-direction: column;
	padding: 16px;
	margin: 0 auto;
}
p {
	font-size: var(--text-body);
	font-weight: 400;
	color: var(--color-text-primary);
	padding: 0;
	margin: 0;
}
a {
	display: block;
	text-decoration: none;
	color: inherit;
}
img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}
